h1:nth-of-type(2){
    background-color: green;
}

h1:nth-child(10){
    background-color: aqua;
}
h1:nth-child(16){
    background-color: rgb(114, 210, 19)
}

div h1:nth-child(6){
    background-color: pink;
}
section p:nth-child(2){
    background-color: rgb(230, 83, 193);
}
section h1:nth-child(3){
    background-color: rgb(219, 139, 54);
}
header span h1:nth-of-type(1){
    background-color: rgb(66, 205, 210);
}
h1:nth-child(19){
    background-color: rgb(189, 11, 11);
}
h1:nth-child(24){
    background-color: rgb(189, 11, 11);
}